# Default values for helium.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
labels:
  aadpodidbinding: %%Name%%-mi #should be value of $MI_Name from the output of aad-podid.sh

image:
  repository: %%Name%%.azurecr.io/sbus # The specific acr created for this environment
  pullPolicy: IfNotPresent
  tag: latest

keyVaultName: %%Name%%-kv # Replace with the name of the Key Vault that holds the secrets
keyVaultTenantId: %%KV_TenantID%% # Replace with the tenant id of the Key Vault that holds the secrets
